body {
  background-color: #2d2d2d;
}
#button {
  background-color: #ffffff; /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 20px 50px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}
#timedate {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype",
    "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  text-align: left;
  width: 50%;
  margin: 40px auto;
  color: #fff;
  border-left: 3px solid #ed1f24;
  padding: 20px;
  margin-left: 44%;
}
#stopwatch {
  font-size: 40px;
  text-align: left;
  width: 50%;
  margin: 40px auto;
  color: #fff;
  border-left: 3px solid #ed1f24;
  padding: 20px;
  margin-left: 44%;
}
#maple {
  margin-left: 44%;
  cursor: pointer;
}
table {
  border-color: rgb(255, 255, 255);
  color: #fff;
  border-radius: 2px;
  border-style: solid;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
th {
  width: 100px;
}

canvas {
  margin-left: 50px;
  margin-top: 50px;
}
