body {
  background-color: #535353;
}
#bodyColor {
  margin-top: 20px;
}
#notice {
  margin-top: 10px;
  color: #ffffff;
  background-color: #535353;
}
#inputName {
  text-align: center;
  margin-top: 100px;
}
#imgDiv {
  margin-top: 50px;
  z-index: -2;
}
#inputButton {
  text-align: center;
  margin-top: 10px;
}

#charImg {
  vertical-align: middle;
  text-align: center;
  display: none;
  width: auto;
  margin: 0 auto;
}
#imgInputdiv {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}
#button {
  text-align: center;
  margin-top: 50px;
  border: none;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
  background-color: #686868;
}
#button1 {
  text-align: center;
  margin-top: 50px;
  border: none;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
  background-color: #686868;
}
#button2 {
  text-align: center;
  margin-top: 50px;
  border: none;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
  background-color: #686868;
}

#button:hover {
  background-color: #000000;
  color: white;
}

.character-card {
  position: relative;

  width: 304px;
  height: 440px;
  margin: 0 auto;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  z-index: -1;
  width: 343px;
  height: 500px;
}
.character-frame {
  position: absolute;
  width: 304px;
  height: 440px;
  top: 10px;
  text-shadow: 1px 1px 1px #000;

  left: 8px;
  z-index: -1;
  width: 327px;
  height: 481px;
}
.character-background1 {
  position: absolute;
  width: 304px;
  height: 440px;
  top: 10px;
  text-shadow: 1px 1px 1px #000;

  left: 8px;
  z-index: -1;
  width: 327px;
  height: 481px;
}

.character-background {
  min-height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  text-shadow: 1px 1px 1px #000;
}
.character-card-footer {
  width: 304px;
  margin: 0 auto;
}
.character-card-image {
  position: absolute;
  left: 52%;
  top: 11px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 250px;
  height: 250px;
}
.character-card-content {
  padding-top: 260px;
}
.character-card-name {
  margin-bottom: 4px;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.character-card-summary {
  margin-bottom: 12px;
  padding: 0;
  font-size: 0;
}
.character-card-summary-item {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}
.character-card-summary-line {
  display: inline-block;
  width: 1px;
  height: 8px;
  margin: 0 8px;
  background-color: #fff;
}
.character-card-effect {
  margin: 14px 0 16px;
  width: 68px;
  height: 11px;
}
.character-card-popular {
  margin-bottom: 4px;
  color: #cdad80;
  font-size: 12px;
  line-height: 18px;
}
.character-card-popular b {
  color: #ffe3bd;
}
.character-card-guild {
  color: #cdad80;
  font-size: 14px;
  line-height: 20px;
}
.character-card-guild b {
  color: #ffe3bd;
}
.character-card-additional {
  padding: 0 28px;
  margin: 0;
  font-size: 0;
}
.character-card-additional-item {
  display: inline-block;
  width: 33.3333%;
  color: #cdad80;
  font-size: 13px;
  line-height: 15px;
  vertical-align: top;
}
.character-card-additional-item b {
  display: block;
  margin-bottom: 4px;
  color: #ffe3bd;
  font-size: 14px;
  line-height: 16px;
}
.character-card-additional-item span {
  font-size: 13px;
  line-height: 16px;
}
.character-card-additional-item small {
  font-size: 12px;
  line-height: 16px;
}
