body {
  background-color: #ffffff;
}

#pageName {
  color: #ffffff;
  background-color: #ff5757;
  max-width: auto;
  display: inline-block;
  margin-top: -10px;
}

header {
  background-color: #ff5757;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -8px;
}

.testDiv {
  float: right;
  display: inline;
  margin-right: 20px;
  background-color: #ff5757;
  font-size: 50px;
  color: #ffffff;
  margin-top: -10px;
}

#contents {
  background-color: #ffffff;
  margin: 0 auto;
  margin-bottom: -20px;
}

#nowInTheaters {
  margin: 0 auto;
}
#poster {
  margin-top: 50px;
  border-radius: 10px;
}

.posterwrap {
  float: left;
  margin-left: 30px;
}
