body {
  background-color: rgb(224, 225, 226);
}
#list {
  text-align: center;
  margin-top: 50px;
}
#youtube {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#tlist {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  cursor: pointer;
}

tr {
  border: 1px solid black;
  border-collapse: collapse;
  height: 50px;
}
#tdv {
  min-width: 800px;
}

#tdn {
  min-width: 30px;
}

#tdbtn {
  min-width: 100px;
  background-color: #686868;
  color: white;
}

#addtolist {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
#button1 {
  text-align: center;
  margin-top: 50px;
  border: none;
  color: white;
  padding: 15px 32px;
  cursor: pointer;
  display: inline-block;
  transition-duration: 0.4s;
  background-color: #686868;
}
